<div class="page-area" style="background-color: #e7e7e7; padding: 50px; width: 80%">
  <h2 style="text-align: center">Contact Us</h2>
  <p style="text-align: center">Contact me please  i am so lonely... :-( </p>
  <div class="row">
    <div class="col-md-6">
      <app-card>
        <h5 class="card-title mytitle">Ashu</h5>
        <a href="#" class="name btn btn-primary btn-success">Call Ashu</a>
      </app-card>
    </div>
  <div class="col-md-6">
    <app-card>
      <h5 class="card-title mytitle">Nidhi</h5>
      <a href="#" class="name btn btn-primary btn-success">Call Nidhi</a>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card>
      <h5 class="card-title mytitle">Yukta</h5>
      <a href="#" class="name btn btn-primary btn-success">Call Yukta</a>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card>
      <h5 class="card-title mytitle">Dhruvi</h5>
      <a href="#" class="name btn btn-primary btn-success">Call Dhruvi</a>
    </app-card>
  </div>

  </div>
</div>

